In [1]:
text = "hello world world"

In [2]:
print (text.isdigit() )
print ('1973'.isdigit())
print ('1973' .strip)

False
True
<built-in method strip of str object at 0x0000027DBFAE4E30>

In [3]:
text = "   hello world world    "
print (text)
print (text.strip())

   hello world world
hello world world

In [4]:
text = "   hello\nworld\nWorld    "
print (text)
print (text.replace('\n' , ' '))

   hello
world
World
   hello world World

In [5]:
text_2 = 'my name is rytis, i live in vilnius'
print( text_2.upper() )
print( text_2.lower() )
print( text_2. capitalize() )
print( text_2.count('Vilnius') )
print( text_2.lower().count('vilnius') )
print (text_2.find('rytis'))
print( text_2[0:text_2.find('rytis') ] )
print( text_2[0:text_2.find('rytis') + len('rytis') ] )

MY NAME IS RYTIS, I LIVE IN VILNIUS
my name is rytis, i live in vilnius
My name is rytis, i live in vilnius
0
1
11
my name is
my name is rytis

In [6]:
'rytis' + ' ' + "juskaitis"

'rytis juskaitis'

In [7]:
'hi ' * 100

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

In [8]:
### f-string

In [9]:
name = 'Rytis'
surname = 'Juskaitis'
number = 51
print( name + ' ' +surname + ' ' + str(number) + ', nice to meet you! ')
print( f'{name} {surname}, nice to meet you!' )

Rytis Juskaitis 51, nice to meet you!
Rytis Juskaitis, nice to meet you!

In [10]:
name = 'Rytis'
surname = "Juskaitis"
print(name)
print(surname)

Rytis
Juskaitis

In [11]:
text = 'Python makes me really really happy! '
print (text.upper())

PYTHON MAKES ME REALLY REALLY HAPPY!

In [12]:
text = 'Hello world, i am happy to lear Python! '
print(text[18:23])
print(text[text.find('happy'):text.find('happy') + len('happy')])

happy
happy

In [13]:
# Numbers

In [14]:
number = 51684

float_number = 1436.41
float_number_2 = 1436

In [15]:
print ( type(number) )
print ( type(float_number) )
print ( type(float_number_2) )

<class 'int'>
<class 'float'>
<class 'int'>

In [16]:
suma = number + float_number
print (f'{suma} yra {type(suma)}')
print (10 - 5)
print (10 * 5)
print (10 / 5)
print ( 13 // 5)
print (17 // 5)

# liekana
print (16 % 5)
print (17 % 5)
print (18 % 5)
print (19 % 5)
print (20 % 5)

53120.41 yra <class 'float'>
5
50
2.0
2
3
1
2
3
4
0

In [17]:
# int
# float
# str

In [18]:
# kelimas laipsniu
print( 2 ** 2 )
print( 2 ** 3 )
print( 2 ** 4 )
print( 3 ** 2 )

4
8
16
9

In [19]:
int_1 = 5
int_2 = 10

print (int_1 + int_2)
print (int_1 - int_2)
print (int_1 * int_2)
print (int_1 / int_2)
print (int_1 % int_2)

15
-5
50
0.5
5

In [20]:
float_1 = 5.5
float_2 = 10.2


print (float_1 + float_2)
print (float_1 - float_2)
print (float_1 * float_2)
print (float_1 / float_2)
print (float_1 % float_2)

15.7
-4.699999999999999
56.099999999999994
0.5392156862745099
5.5

In [21]:
dist_sun = 150_000_000
dist_moon = 384_000

speed_per_hour = 150

day = speed_per_hour * 24
month = day * 30


print (f'Atstumas iki saules yra {dist_sun / dist_moon} kartu didesnis nei atstumas iki menulio ')

print(dist_moon/speed_per_hour)
print(dist_moon/day)
print(dist_moon/month)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
2560.0
106.66666666666667
3.5555555555555554

In [22]:
from datetime import datetime

birthday =datetime(1995, 7,12)
now = datetime.now()
time_passed = now -birthday
print (time_passed)
print (time_passed.days)

9913 days, 21:02:49.761508
9913

In [23]:
atstumas = 384_000
print(atstumas)

384000

In [24]:
bool_1 = True
bool_2 = False
print( type(bool_1) )
number = 0
print( bool(number) )
number =0.5
print( bool(number) )
# false tampa tik 0, visi kiti trye

<class 'bool'>
False
True

In [25]:
print (2 >5)
print (2 <5)
print (5 >5)
print (5 >= 5)
print (2 == 5)
print (10 == 5)

print ('nelygus')
print (10 != 5)
print (10 != 10)

False
True
False
True
False
False
nelygus
True
False

In [26]:
text = 'hello world'
bool_4 = 'Lithuania' in text
print (bool_4)

False

In [27]:
print (bool_1)
print(bool_1 == 0.999)
print(bool_1 == bool(0.999) )

True
False
True

In [28]:
print (bool(0.01))
print (bool(0.01))
print (bool('hello'))

True
True
True

In [29]:
print ( True)
print (not True)
print (not not not not not True)

True
False
False

In [30]:
print (20 > 10 and 5 > 1)
print (20 > 10 and 5 > 10)

print (20 > 10 and 5 > 10)
print (20 > 10 and 5 > 10)

True
False
False
False

In [31]:
'hello' in 'hello world' and 5 >1 or 52 < 52

True

In [32]:
True == 1

True == 2

False

### Lists

In [33]:
cities = [ 'vilnius', 'kaunas', 'klaipeda' ]

In [34]:
numbers = [ 1,8546,847,358,'vienas']
print( cities[0])
print( type( cities[0] ) )
print( cities[-1] )
print( numbers[1:4] )
print (len(numbers[-1] ) )

vilnius
<class 'str'>
klaipeda
[8546, 847, 358]
6

In [35]:
numbers = [ 1,8546,847,358,'vienas']
numbers.append(500)
numbers.append(500)
numbers.append(10)
print (numbers)

[1, 8546, 847, 358, 'vienas', 500, 500, 10]

In [36]:
# updates list
# numbers.append(10)
print (numbers)

[1, 8546, 847, 358, 'vienas', 500, 500, 10]

In [37]:
numbers.count(10)

1

In [38]:
numbers.insert(2, 1000)
print (numbers)

[1, 8546, 1000, 847, 358, 'vienas', 500, 500, 10]

In [39]:

print (numbers.pop(2) )
print (numbers)

1000
[1, 8546, 847, 358, 'vienas', 500, 500, 10]

In [40]:
print (numbers.remove(1000) )
print (numbers)

ValueError: list.remove(x): x not in list

In [41]:
numbers.extend( [999, 999] )
print(numbers)
numbers.append( [888, 888] )
print(numbers)

[1, 8546, 847, 358, 'vienas', 500, 500, 10, 999, 999]
[1, 8546, 847, 358, 'vienas', 500, 500, 10, 999, 999, [888, 888]]

In [44]:
print (numbers[-1])
print (type(numbers[-1] ) )

[888, 888]
<class 'list'>

In [46]:
nested_list = [654, [[[[['65']]], 57]]]
print (nested_list[1][0][0][0][0][0] )

65

In [51]:
print (numbers)

[1, 8546, 847, 358, 'vienas', 500, 500, 10, 999, 999, [888, 888]]

In [65]:
print( numbers.reverse())
print(numbers)

None
[1, 8546, 847, 358, 'vienas', 500, 500, 10, 999, 999, [888, 888]]

In [75]:
print ( numbers[::-1] )
print ( numbers[::-2] )

[[888, 888], 999, 999, 10, 500, 500, 'vienas', 358, 847, 8546, 1]
[[888, 888], 999, 500, 'vienas', 847, 1]

In [82]:
numbers = [1, 8546, 847, 358, 500, 500, 10, 999, 999, [888, 888]]
numbers.sort(reverse=False)
print (numbers)
numbers.sort(reverse=True)
print (numbers)

TypeError: '<' not supported between instances of 'list' and 'int'

In [85]:
print ( cities)
cities[2] = "Siauliai"
print (cities)

['vilnius', 'kaunas', 'Siauliai']
['vilnius', 'kaunas', 'Siauliai']

In [87]:
"vilnius" in cities
"kedainiai" in cities

False

In [89]:
print( bool( [] ) )
print( bool( cities ) )

False
True

In [91]:
combined_list = [1,2,3] + ["a", "b", "c"]
print (combined_list)

[1, 2, 3, 'a', 'b', 'c']

In [92]:
mult_list = [1,2,"a"] * 180
print (mult_list)

[1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a', 1, 2, 'a']

In [96]:
c = 5
c = c +10
c += 10
print (c)
c *= 2
c /= 3
print (c)

25
16.666666666666668

In [106]:
cities = [ 'vilnius', 'kaunas', 'klaipeda' ]

print (len(cities))

cities.append("kedainiai")

print (len(cities))

3
4